* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
  height: 100%;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header {
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  z-index: 5;
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
  nav {
    width: 100%;
    padding: 2rem;
    ul {
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        font-size: 2rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  div.homepage {
    display: flex;

    h1 {
      font-size: 4rem;
      color: #0b2952;
    }

    section.left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 2 1 500px;
      padding: 2rem;

      p {
        font-size: 1.5rem;
        padding: 1rem 0rem;
        text-indent: 32px;
      }
    }

    section.right {
      flex: 1 1 600px;
      position: relative;
      img {
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        position: absolute;
        top: 30vh;
      }
    }
  }

  section.table {
    flex: 3 1 500px;
    padding: 2rem;
    table {
      border-collapse: collapse;
      tr {
        border-bottom: 2px solid gray;
        transition: all 0.2s ease;
        td {
          padding: 1rem;
          a {
            text-decoration: none;
            color: black;
          }
        }
        &:hover {
          background-color: #1699b1;
        }
      }
    }
  }

  section.contact {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 2rem;
    div.content {
      h2 {
        margin: 1rem 0rem;
      }
    }
  }
}

div.footer {
  display: flex;
  flex-direction: column;

  align-items: center;
  h1 {
    font-size: 2.5rem;
  }
  section {
    a {
      padding: 1rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  body {
    background: linear-gradient(90deg, rgb(90, 150, 228), rgb(19, 85, 85));
  }
  .orange {
    display: none;
  }

  header {
    background: linear-gradient(90deg, rgb(90, 150, 228), rgb(19, 85, 85));
    height: 10vh;
    nav {
      ul {
        flex-direction: row;
        width: 100%;
        li {
          padding: 0.1rem 0rem;
          border-bottom: 1px solid gray;
          a {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  main {
    margin-top: 10vh;
    div.homepage {
      display: flex;
      flex-direction: column;
      section.right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;

        img {
          position: static;
          width: 50vw;
          height: 50vw;
        }
      }
      section.left {
        p {
          font-size: 1.5rem;
        }
      }
    }

    div.resume {
      section.table {
        table {
          tr {
            td {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  div.footer {
    section {
      a {
        padding: 0.5rem;
      }
    }
  }
}
